In [74]:
batas = '-----------------------'

In [75]:
#Nomor 1#

##Tipe-tipe data##
print('Tipe data')
print(batas)
#1. Tipe data Boolean#
print("1. Tipe data Boolean adalah tipe data \nyang menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0")

#contoh#
a = True
print('Contoh tipe data Boolean')
print(a)
print(batas)
type(a)

Tipe data
-----------------------
1. Tipe data Boolean adalah tipe data
yang menyatakan benar True yang bernilai 1, atau salah False yang bernilai 0
Contoh tipe data Boolean
True
-----------------------

bool

In [76]:
#2. Tipe data String#
print ('2. Tipe data String adalah tipe data yang \nMenyatakan karakter/kalimat bisa berupa huruf angka, dll')

#contoh#
b = 'Ini adalah contoh data tipe String'
print('Contoh tipe data String')
print(b)
print(batas)
type(b)

2. Tipe data String adalah tipe data yang
Menyatakan karakter/kalimat bisa berupa huruf angka, dll
Contoh tipe data String
Ini adalah contoh data tipe String
-----------------------

str

In [77]:
#3. Tipe data Integer#
print('3. Tipe data Integer adalah tipe data yang Menyatakan bilangan bulat')

#contoh#
c = 15
print('Contoh tipe data Integer')
print(c)
print(batas)
type(c)

3. Tipe data Integer adalah tipe data yang Menyatakan bilangan bulat
Contoh tipe data Integer
15
-----------------------

int

In [78]:
#4. Tipe data Float#
print('4. Tipe data Float adalah tipe data yang menyatakan bilangan desimal \natau bilangan yang memiliki koma')

#contoh#
d = 3.14
print('Contoh tipe data Float')
print(d)
print(batas)
type(d)

4. Tipe data Float adalah tipe data yang menyatakan bilangan desimal
atau bilangan yang memiliki koma
Contoh tipe data Float
3.14
-----------------------

float

In [79]:
#5. Tipe data lainnya#
print('Data lainnya yang bisa ditemui di bahasa python')

#tipe data Complex
print('Tipe data complex')
print(5j)
#tipe data List
print('Tipe data List')
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])

#tipe data Tuple
print('Tipe data Tuple')
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))

#tipe data Dictionary
print('Tipe data Dictionary')
print({"nama":"Budi", 'umur':20})

print(batas)

Data lainnya yang bisa ditemui di bahasa python
Tipe data complex
5j
Tipe data List
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
Tipe data Tuple
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
Tipe data Dictionary
{'nama': 'Budi', 'umur': 20}

In [80]:
#Nomor 2#
# Komentar #

nama = 'Mochammad Fauzi Dwi Rusdiansyah'
nim = '20220040036'
nomor_telepon = '089516808862'

print(nama)
print(nim)
print(nomor_telepon)

Mochammad Fauzi Dwi Rusdiansyah
20220040036
089516808862

In [81]:
#Nomor 3#

a1 = 5000
a2 = 2000
a3 = 200

print('Angka pertama = ',a1)
print('Angka kedua = ',a2)
print('Angka Ketiga = ',a3)
a1_1 = a1 + 200
print('Tambahkan Angka pertama dengan 200 = ',a1_1)
a2_1 = a2 + 200
print('Tambahkan Angka kedua dengan 200 = ', a2_1)
a4 = a1_1 + a2_1 - a3
print('hasil Angka pertama + Angka kedua - angka ketiga = ')
print(a4)

print(batas)

Angka pertama =  5000
Angka kedua =  2000
Angka Ketiga =  200
Tambahkan Angka pertama dengan 200 =  5200
Tambahkan Angka kedua dengan 200 =  2200
hasil Angka pertama + Angka kedua - angka ketiga =
7200

In [82]:
## Nomor 4 ##

#keliling lingkaran#

r = float(input("Masukan Nilai jari-jari "))

phi = 3.14
d = 2*r
keliling = phi*d
print('Keliling lingkaran adalah')
print(keliling)

print(batas)

Keliling lingkaran adalah
31.400000000000002
-----------------------

In [83]:
# Volume kubus #

p = int(input("Masukan panjang"))
l = int(input("Masukan lebar"))
t = int(input("Masukan tinggi"))

volume = p * l * t

print("Volume kubus = ",volume)

print(batas)

Volume kubus =  210